body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
main {
	flex: 1 0 auto;
}


/*
 * Contenu de page
 */
#content {
	margin-top: 20px;
}

.card-content {
	min-height: 100px;
}
/*
 * Colonnes
 */
.m4 {
	min-height: 300px;
	border-radius: 15px;
	border: 2px solid white;
}